<div class="reservation-param-component">
  <form class="form" [formGroup]="formGroup">
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="reservation?.id">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ 'reservations.id' | translate }}"
            [formControl]="id"
            required
            [readOnly]="true"
          />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <div class="form-group">
          <mat-form-field>
            <input
              matInput
              type="text"
              [readonly]="true"
              placeholder="{{ 'users.title' | translate }}"
              class="form-field-popup"
              (click)="assignUser()"
              [formControl]="user"
            />
            <button
              mat-button
              matSuffix
              mat-icon-button
              aria-label="Add"
              [hidden]="readOnly"
              (click)="assignUser()"
            >
              <mat-icon>create</mat-icon>
            </button>
            <mat-error *ngIf="user.errors?.required">
              {{ 'general.mandatory_field' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group">
        <mat-form-field>
          <input
            matInput
            type="text"
            [readonly]="true"
            placeholder="{{ 'tags.title' | translate }}"
            class="form-field-popup"
            (click)="assignTag()"
            [formControl]="tag"
          />
          <button
            *ngIf="tag.enabled"
            mat-button
            matSuffix
            mat-icon-button
            aria-label="Add"
            [hidden]="readOnly"
            (click)="assignTag()"
          >
            <mat-icon>create</mat-icon>
          </button>
          <mat-error *ngIf="tag.errors?.required">
            {{ 'general.mandatory_field' | translate }}
          </mat-error>
          <mat-error *ngIf="tag.errors?.inactive">
            {{ 'tags.not_active' | translate }}
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="reservation?.chargingStationId">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ 'reservations.chargingstation_id' | translate }}"
            class="form-field-popup"
            [formControl]="chargingStationId"
            required
            [readOnly]="readOnly"
            (click)="assignChargingStation()"
          />
          <button mat-button matSuffix mat-icon-button aria-label="Add" [hidden]="readOnly">
            <mat-icon>ev_station</mat-icon>
          </button>
          <mat-error *ngIf="chargingStationId?.errors?.required">{{
            'general.mandatory_field' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="reservation?.connectorId">
        <mat-form-field>
          <input
            matInput
            type="text"
            placeholder="{{ 'reservations.connector_id' | translate }}"
            class="form-field-popup"
            [formControl]="connectorId"
            required
            [readOnly]="readOnly"
            (click)="assignConnector()"
          />
          <button mat-button matSuffix mat-icon-button aria-label="Add" [hidden]="readOnly">
            <mat-icon>power</mat-icon>
          </button>
          <mat-error *ngIf="connectorId?.errors?.required">{{
            'general.mandatory_field' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="reservation?.status">
        <mat-form-field>
          <mat-label for="reservationStatus">{{ 'reservations.status' | translate }}</mat-label>
          <mat-select
            id="reservationStatus"
            [formControl]="status"
            (selectionChange)="statusChanged()"
            [disabled]="readOnly"
            required
          >
            <mat-option *ngFor="let status of statusOptions" [value]="status">
              {{ reservation.status | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="status?.errors?.required">{{
            'general.mandatory_field' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 form-group" *ngIf="reservation?.type">
        <mat-form-field>
          <mat-label for="reservationType">{{ 'reservations.type' | translate }}</mat-label>
          <mat-select
            id="reservationType"
            [formControl]="type"
            (selectionChange)="typeChanged()"
            [disabled]="readOnly"
            required
          >
            <mat-option *ngFor="let type of typeOptions" [value]="status">
              {{ reservation.status | translate }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="type?.errors?.required">{{
            'general.mandatory_field' | translate
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group form-group">
          <mat-form-field>
            <mat-hint>MM/DD/YYYY --:--</mat-hint>
            <mat-datetimepicker-toggle matSuffix [for]="expiryDatePicker" [disabled]="readOnly">
            </mat-datetimepicker-toggle>
            <mat-datetimepicker
              #expiryDatePicker
              type="datetime"
              [disabled]="readOnly"
              openOnFocus="true"
              timeInterval="5"
              touchUi="true"
            >
            </mat-datetimepicker>
            <input
              matInput
              [formControl]="expiryDate"
              placeholder="{{ 'reservations.dialog.expiry_date' | translate }}"
              [matDatetimepicker]="expiryDatePicker"
              [min]=""
              [disabled]="readOnly"
              autocomplete="false"
              (click)="expiryDatePicker.open()"
            />
            <mat-error *ngIf="expiryDate.value">
              {{ 'general.mandatory_field' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="row" *ngIf="reservation?.type === 'PLANNED'">
      <div class="col-md-6">
        <div class="form-group form-group">
          <mat-form-field>
            <mat-hint>MM/DD/YYYY --:--</mat-hint>
            <mat-datetimepicker-toggle matSuffix [for]="fromDatePicker" [disabled]="readOnly">
            </mat-datetimepicker-toggle>
            <mat-datetimepicker
              #fromDatePicker
              type="datetime"
              [disabled]="readOnly"
              openOnFocus="true"
              timeInterval="5"
              touchUi="true"
            >
            </mat-datetimepicker>
            <input
              matInput
              [formControl]="fromDate"
              placeholder="{{ 'reservations.dialog.expiry_date' | translate }}"
              [matDatetimepicker]="fromDatePicker"
              [min]=""
              [disabled]="readOnly"
              autocomplete="false"
              (click)="fromDatePicker.open()"
            />
            <mat-error *ngIf="expiryDate.value">
              {{ 'general.mandatory_field' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-group">
          <mat-form-field>
            <mat-hint>MM/DD/YYYY --:--</mat-hint>
            <mat-datetimepicker-toggle matSuffix [for]="toDatePicker" [disabled]="readOnly">
            </mat-datetimepicker-toggle>
            <mat-datetimepicker
              #toDatePicker
              type="datetime"
              [disabled]="readOnly"
              openOnFocus="true"
              timeInterval="5"
              touchUi="true"
            >
            </mat-datetimepicker>
            <input
              matInput
              [formControl]="toDate"
              placeholder="{{ 'reservations.dialog.expiry_date' | translate }}"
              [matDatetimepicker]="toDatePicker"
              [min]=""
              [disabled]="readOnly"
              autocomplete="false"
              (click)="toDatePicker.open()"
            />
            <mat-error *ngIf="expiryDate.value">
              {{ 'general.mandatory_field' | translate }}
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </form>
</div>
